<div class="jumbotron text-center">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
    < label for="name">Name< /label>
    
    <!-- Back end errors -->
    {{#each user.errors.name as |error|}}
      <div class='error'>
        {{error.message}}
	  </div>
    {{/each}}
    {{validated-input model=user valuePath="name" type="text" value="name" placeholder="Enter name" }}
    
    
    < label for="email">Email< /label>
    {{#each user.errors.email as |error|}}
      <div class='error'>
        {{error.message}}
      </div>
    {{/each}}
    {{validated-input model=user valuePath="email" type="email" value="email" placeholder="Enter e-mail address" }}
    
    
    < label for="password">Password< /label>
    {{#each user.errors.password as |error|}}
      <div class='error'>
        {{error.message}}
      </div>
    {{/each}}
    {{validated-input model=user valuePath="password" type="password" value="password" type="password"  placeholder="Enter password" }}
    
    
    < label for="passwordConfirmation">Password Confirmation< /label>
    {{#each user.errors.password_confirmation as |error|}}
      <div class='error'>
        {{error.message}}
      </div>
    {{/each}}
    {{validated-input model=user valuePath="password_confirmation" type="password confirmation" value="password_confirmation" type="password" placeholder="Confirm password" }}
    
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
    <button class="btn btn-primary btn-lg btn-block" disabled={{v-get user 'isInvalid'}} {{action "submit"}}>{{button}}</button>
  </div>

</div>    
{{#if errorMessage}}
	<div class="alert alert-danger">
	    <p>
	      <strong>Sign up failed:</strong> <code>{{errorMessage}}</code>
	    </p>
	</div>
{{/if}}