<div class="jumbotron text-center">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-5 col-md-offset-2">
    {{#if isCorrectUser}} 
	    < label for="name">Name< /label>
	    <!-- Back end errors -->
	    {{backend-errors errors=user.errors.name}}
	    {{validated-input model=user valuePath="name" type="text" value="name" placeholder="Enter name" }}
	    
	    
	    < label for="email">Email< /label>
	    {{backend-errors errors=user.errors.email}}
	    {{validated-input model=user valuePath="email" type="email" value="email" placeholder="Enter e-mail address" }}
	    
	    
	    < label for="password">Password< /label>
	    {{backend-errors errors=user.errors.password}}
	    {{validated-input model=user valuePath="password" type="password" value="password" type="password"  placeholder="Enter password" }}
	    
	    
	    < label for="passwordConfirmation">Password Confirmation< /label>
	    {{backend-errors errors=user.errors.password_confirmation}}
	    {{validated-input model=user valuePath="password_confirmation" type="password confirmation" value="password_confirmation" type="password" placeholder="Confirm password" }}    
	    
	    
	    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
		  {{#if session.isAuthenticated}}
		    <button class="btn btn-primary btn-lg btn-block" {{action "submit"}}>{{button}}</button>
		  {{else}} <!-- Editing can allow incomplete models -->
		    <button class="btn btn-primary btn-lg btn-block" disabled={{v-get user 'isInvalid'}} {{action "submit"}}>{{button}}</button>
		  {{/if}}
	    </div>
    
    {{else}}
      You are not allowed to modify this post
    {{/if}}
  </div>  
</div>
    
{{#if errorMessage}}
	<div class="alert alert-danger">
	    <p>
	      <strong>Sign up failed:</strong> <code>{{errorMessage}}</code>
	    </p>
	</div>
{{/if}}